@charset "UTF-8";
/* ==========================================================================
* Кнопки
* ========================================================================== */

.button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;

	font-family: $mainFontFamily;

	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}


	&--color{
		background: #000;
		color: #fff;
		&:hover{
			background: lighten(#000, 5%);
		}
		&:active{
			background: darken(#000, 5%);
		}
	}

	&--orange{
		$startcolor: #f79900;
		$endcolor: #f18200;
		background: $startcolor;
		background: linear-gradient(to bottom, $startcolor 0%, $endcolor 100%);
		color: #fff;
		border: 0px;
		box-shadow: inset 0 2px 2px rgba(255,255,255,.3),
					inset 0 -2px 2px rgba(0,0,0,.2),
					0 5px 9px rgba(0,0,0,.2);
		text-shadow: 0 -1px 0 rgba(255,255,255,.25);
		position: relative;
		transition: none;
		&:hover{
			background: lighten($startcolor, 5%);
			background: linear-gradient(to bottom, lighten($startcolor, 5%) 0%, lighten($endcolor, 5%) 100%);
		
		}
		&:active{
			background: darken($startcolor, 2%);
			background: linear-gradient(to bottom, darken($endcolor, 2%) 0%, darken($startcolor, 2%) 100%);
			box-shadow: inset 0 2px 5px rgba(255,255,255,.3);
			top: 2px;
		}
	}

	&--m{
		border-radius: 30px;
		font-weight: 400;
		font-size: 24px;
		padding: 20px 50px 20px;
		text-transform: uppercase;
	}

	&--l{
		border-radius: 8px;
		font-weight: 700;
		font-size: 15px;
		padding: 10px 20px 10px;
	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* ==========================================================================
* Формы
* ========================================================================== */

.form{

	@include clearfix;

	&__line{
		@include clearfix;
		margin-bottom: 16px;
	}

	&__input-placeholder{
		position: relative;
		margin-bottom: 16px;

		&--inline{
			width: 48%;
			float: right;
			margin-bottom: 0;
			&:first-child{
				float: left;
			}
		}
	}

	label.error{
		font-size: 13px;
		color: #ef6d51;
		//position: absolute;
		//top: -13px;
		//right: 0;
		//margin-left: 0;
		//padding: 5px;
		//text-align: center;
		//white-space: nowrap;
		///color: #fff;
		///border-radius: 5px;
		//background: #000;
		//background: rgba(0, 0, 0, .7);
	}

	&__button-placeholder{
		margin-top: 20px;
	}

	&__input,
	&__textarea{
		-webkit-appearance: none;
		padding: 0 0 0 20px;
		width: 100%;
		outline: none;
		border: 1px solid #d7d7d7;
		max-width: 100%;
		font-size: 15px;
		font-family: $mainFontFamily;
		background: #f6f5f1;
		border-radius: 5px;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.13); 
		&.error{
			border-color: #ef6d51;
		}
	}
	&__input{
		&--h40{
			height: 40px;
			line-height: 40px;
		}
	}
	&__textarea{
		padding-top: 10px;
		height: 210px;
		&--h120{
			height: 120px;
		}
	}
}


/* ==========================================================================
 * checkbox
 * ========================================================================== */

.checkbox{
	display: inline-block;
	position: relative;

	&__input{
		margin: -2px 0 0;

	}
}

/* ==========================================================================
 * select
 * ========================================================================== */

.select{
	border: 1px solid #d4d3cf;
	border-radius: 3px;
	background: #fff;
	text-align: left;
	overflow: hidden;
	position: relative;
	height: 43px;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		margin: auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 4px 0 4px;
		border-color: $blue transparent transparent transparent;
	}

	&__select-placeholder{
		position: absolute;
		top: 0;
		left: 0;
		right: -35px;
		bottom: 0;		
	}

	&__select{
		-webkit-appearance: none;
		border: 0;
		background: transparent;	
		font-size: 18px;
		font-family: $mainFontFamily;
		line-height: 43px;
		height: 43px;
		padding: 0 0 0 20px;
		margin: 0;
		width: 100%;
		display: block;
		outline: none;
	}
}
