@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{

	&__wrap{
		@include clearfix;
		max-width: 1360px;
		padding: 0 5px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}

	&__text{
		margin: 0 0 30px;		
	}
}

.app-section{
	display: flex;
	min-height: 100vh;
	align-items: center;

	&__app{
		width: 100%;
	}
}
/* ==========================================================================
 * .derinat-logo
 * ========================================================================== */

.derinat-logo{
	display: inline-block;
	text-indent: -9999px;
	@include sprite($derinat);	
}

/* ==========================================================================
 * app
 * ========================================================================== */

.app{

	&__logo-placeholder{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;

		@media (min-width: 1300px){
			right: auto;
		}
	}

	&__content{
		padding: 100px 0 0;
		max-width: 990px;
		margin: auto;
		@media (min-width: 1300px){
			padding: 0;
		}
	}

	&__loader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
	}

	&__error{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 550;
	}

	&__page{
		padding: 35px 0;
	}

	&__title{
		font-size: 36px;
		text-align: center;
		color: $blue;
		margin: 0 auto 40px;
		max-width: 900px;
	}

	&__text{
		text-align: center;
		margin: 0 0 40px;
	}

	&__buttons{
		text-align: center;
		margin: 0 0 40px;
		&:last-child{
			margin-bottom: 0;
		}
	}

	&__select{
		text-align: center;
		margin: 0 auto 40px;
		width: 250px;
	}


	&__button-placeholder{
		margin: 0 20px;
		display: inline-block;
		vertical-align: top;	
	}
	
}

/* ==========================================================================
 * error-message
 * ========================================================================== */

.error-message{
	padding: 10px;
	background: #ff7f7f;
}
 

/* ==========================================================================
 * loader
 * ========================================================================== */

.loader{
	background: rgba(255,255,255,.5);	
	text-align: center;
	opacity: 0;
	visibility: hidden;
	
	transition: all .2s;

	display: flex;

	align-items: center;
	justify-content: center;
	
	&__content{
		width: 40px;
		height: 40px;
		display: inline-block;
		animation: spin .6s infinite linear;
	}

	&--visible{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* ==========================================================================
 * quiz
 * ========================================================================== */

.quiz{

	&__item{
		display: none;

		&--visible{
			display: block;
		}
	}

	&__title{
		
	}

	&__image-placeholder{
		margin: 0 0 20px;
		height: 455px;
		line-height: 455px;
		text-align: center;
	}

	&__image{
		max-width: 100%;
		max-height: 100%;
		height:  auto;
		width: auto;
		vertical-align: middle;
	}

	&__buttons{
		
	}

	&__slider{
		width: 932px;
		margin: 0 auto 40px;
	}

	&__button{
		position: relative;
		min-width: 250px;
	}

	&__radio{
		position: absolute;
		left: -9999px;
	}
}

/* ==========================================================================
 * quiz-slider
 * ========================================================================== */

.quiz-slider{

	&__line{
		padding: 6px 8px 6px 8px;
		margin: 0 auto 12px;
		border-radius: 13px;
		@include sprite($range);
	}

	&__inner-line{
		border-radius: 5px;
		height: 10px;
		background: #40413e;
	}

	&__handle{
		background: #f8f8f8;
		background: linear-gradient(to bottom, #f8f8f8 0%, #bad7db 100%);
		padding: 10px;
		border-radius: 5px;
		position: absolute;
		top: 100%;
		right: 0;
		height: 57px;
		margin: 20px -73px 0 0;
		width: 146px;
		text-align: center;
		box-shadow: 0 10px 15px rgba(0,0,0,.2); 

		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 12px 10px;
			border-color: transparent transparent #f8f8f8 transparent;
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	&__answers{
		margin: 0 -90px;
		text-align: center;
		z-index: 2;
		position: relative;
		pointer-events: none;
	}

	&__answer{
		display: inline-block;
		vertical-align: top;
		width: 24%;
	}

	.bar{
		height: 10px;
		border-radius: 5px;
	}

	.bar-0{
		background: #ffff00;
		box-shadow: inset 0 0 3px rgba(0,0,0,.5);
	}

	.handle{
		padding: 0 0 0;
		height: 10px;
		cursor: move;
		//width: 36px;
	}
}

/* ==========================================================================
 * login
 * ========================================================================== */

.login{

	&__content{
		background: url(../images/bg/intro.png) 0 0 no-repeat;
		width: image-width('../assets/images/bg/intro.png');
		min-height: image-height('../assets/images/bg/intro.png');
		position: relative;
		margin: auto;
		text-align: center;
		padding: 85px 70px 30px;

		&:before{
			position: absolute;
			right: -100px;
			bottom: -130px;
			content: '';
			background: url(../images/intro-bottles.png) 0 0 no-repeat;
			width: image-width('../assets/images/intro-bottles.png');
			height: image-height('../assets/images/intro-bottles.png');
			pointer-events: none;
		}
	}

	&__title{
		font-size: 30px;
		font-weight: 600;
		margin: 0 0 20px;
		line-height: (42/30);
	}

	&__text{
		font-size: 18px;
		margin: 0 0 20px;
	}
}


/* ==========================================================================
 * results
 * ========================================================================== */

.results{
	padding: 20px 0 20px;

	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	&__child{
		width: 800px;
		margin:  0 auto 25px;
		padding: 0 0 0 4%;
		position: relative;
	}

	&__boxes{
		position: relative;
	}

	&__boxes-bg{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -(1446px/2)
	}

	&__pers{
		position: absolute;
		display: block;
		left: 50%;
		&--1{
			top: 0;
			margin-left: -580px;
		}

		&--2{
			top: 30px;
			margin-left: 380px;
		}

		&--3{
			bottom: 0;
			left: 0;
			
			@media (max-width: 1210px ){
				left: 50%;
				margin-left:  -530px;
			}
		}

		&--4{
			bottom: 50px;
			margin-left: 370px;
		}
	}

	&__box{
		margin: 0 auto 30px;
		width: 800px;
		position: relative;
	}

	&__buttons{
		position: relative;
		@media print{
			display: none;
		}
	}
}

.results-child{

	&__top{
		@include clearfix;
		margin: 0 0 30px;
	}

	&__logo{
		float: right;
	}

	&__avatar-placeholder{
		float: left;
		width: 120px;
	}

	&__avatar{
		width: 100%;
		height: auto;
	}

	&__info{
		margin: 0 0 0 140px;
	}

	&__name{
		font-size: 25px;
		font-weight: 600;
		margin: 0 0 6px; 
	}

	&__age{
		font-size: 25px;
		font-weight: 600;
		margin: 0 0 6px; 
	}

	&__text{
		font-size: 14px;
	}
}

.results-box{
	background: #fff;
	border-radius: 30px;
	padding: 15px 4% 30px;
	box-shadow: 0 3px 0 #a97369; 

	&__title{
		font-size: 20px;
		text-align: center;
		margin: 0 0 20px;
		font-weight: 600;
	}

	&__text{
		font-size: 14px;
	}


}
